/* Style for Menu */

#mainmenu:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

#mainmenu ul {
	border: 1px solid #BBB;
	width: 100%;
	margin-left: 0;
	padding-left: 0;
	margin: 0;
	float: left;
	font: bold 12px Verdana;
}

#mainmenu ul li {
	display: inline;
}

#mainmenu ul li a {
	float: left;
	color: #7F7F7F;
	padding: 6px 12px 6px 7px;
	text-decoration: none;
}

#mainmenu ul li a:hover {
	color: #494949;
}

/* Style for Drop Down Menu */

.dropmenudiv {
	margin: 2px;
	position:absolute;
	top: 0;
	border: 1px solid #BBB;
	font:normal 12px Verdana;
	line-height:18px;
	z-index:100;
	width: 200px;
	visibility: hidden;
}

.dropmenudiv a {
	width: 100%;
	background-color: #222222;
	display: block;
	text-indent: 3px;
	padding: 2px 0;
	text-decoration: none;
	color: #FF9900;
}

.dropmenudiv a:hover { 
	color: #FFCC44;
	background-color: #333333;
}

.dropmenudiv strong {
	width: 100%;
	display: block;
	text-indent: 3px;

	background-color: black;
	padding: 2px 0;
	text-decoration: none;
	color: white;
}