@charset "UTF-8";
body {
  background-color: #444;
  color: #b4b9bd;
  font-family: sans-serif; }

.box {
  padding: 1em;
  background-color: #333; }
  .box h2 {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0; }
    .box h2:before {
      content: "»";
      padding-right: 0.3em;
      color: #b4b9bd; }
  .box .boxContent {
    margin-top: 1em; }
  .box .green-box {
    color: #52d273; }
  .box .yellow-box {
    color: #e5c453; }
  .box .red-box {
    color: #e85067; }
  .box .blue-box {
    color: #46bddf; }

a {
  color: #e47355;
  text-decoration: none;
  font-weight: bold; }
  a:hover {
    text-decoration: underline;
    background-color: black; }

ul.mainmenu {
  display: inline-block;
  padding: 0;
  margin: 0; }
  ul.mainmenu li {
    display: inline-block;
    padding: 0.25em; }

p.status {
  float: right; }

body {
  width: 60%;
  margin: auto; }

div#navigation {
  background-color: #333; }

div.page {
  margin: 0;
  margin-top: 3em;
}

table {
  width: 100%; }

table.normal th, table.normal tr, table.normal td {
  background-color: #333; }
table.normal th, table.normal td {
  padding: 1em;
  text-align: left; }
table.normal tr:hover td, table.normal th:hover {
  background-color: black; }

table.map td {
  border: 1px solid black; }

table.map td:hover {
  border: 1px solid orange; }

fieldset {
  border: none;
}

input {
  border: 1px solid black;
  padding: .5em;
  background-color: #bbb;
}

input:focus {
  background-color: #fff;
  border: 1px outset red;
}

button {
  padding: .8em;
  border: 1px solid black;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
